<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
<form method="post" action="/user">
    <label>Username
        <input type="text" name="username" th:value="${aUsername}">
    </label>
    <label>Password
        <input type="password" name="password">
    </label>
    <label>E-Mail
        <input type="email" name="email" th:value="${aEmail}">
    </label>
    <input type="submit" name="Submit">


</form>
<p th:text="${error}"></p>
</body>
</html>